<!DOCTYPE html>
<html>
<head>
	<title>Gestion des ingredients</title>
	<link rel="stylesheet" type="text/css" href="../styles/general.css">
</head>
<header>
	||MENU||
</header>
<body>
	<h2 class="title-page">Gestion des ingrédients</h2>
	<br>
	<form id="container-add-bar" method="post" action="ingredient.php">
		<input type="text" name="name" placeholder="Nom de l'ingredient" required>
		<input type="text" list="select-cat-ing" name="cat_ingredient" autocomplete="off" required />
		<datalist id="select-cat-ing">
		</datalist>
		<input type="submit" value="Ajouter">
	</form>
	<br>
	<div id="container-ingredients">
		
	</div>
</body>
||SCRIPTS||
<script type="text/javascript" src="../scripts/ingredient.js"></script>
</html>